<h1>Announcements</h1>

Here are the current announcements test:
<ul>
  {{#each model.announcements as |announcement|}}
   {{announcement.messageType}}: {{announcement.message}}
   <button {{action 'delete' announcement}}>Delete Announcement</button>
   {{/each}}
</ul>
<!-- this breaks the page {{new-announcement saveAnnouncement2="saveAnnouncement3"}} -->
