<h1>Announcements</h1>

Here are the current announcements:
<ul>
  {{#each model as |announcement|}}
     <li>{{announcement.messageType}}: {{announcement.message}}</li>
  {{/each}}
</ul>

{{new-announcement saveAnnouncement="saveAnnouncement"}}
<br>
{{new-announcement}}


<hr>
{{#link-to 'index'}}Home{{/link-to}}
<br>
{{#link-to 'announcement' announcement=model}}Announcements{{/link-to}} <!-- we need to have the announcement data here-->
<br>
{{#link-to 'contact'}}Contact Us{{/link-to}}
